            html {
                min-width: 100%;
            }
            body {                /*change according to your's display resolution(if needed)*/
                margin-top: 11.3%;
                padding: 0px;
                background-image: url(pixelcity.png); /*Put your's image here*/
                background-size: 120%;
                background-repeat: repeat;
                color: #4AAFFC;
                text-shadow: 0px 0px 1em #4893FA;
                font-size: 2.5vw;
                font-family: 'VT323', monospace;
                overflow-y: hidden;
                overflow-x: hidden;
            }
            .maindiv {
                position: relative;
                width: 45%;
                margin: 0;
                padding: 0;
            }
            .maindiv li p{
                cursor: pointer;
            }
            .listmain {
                width: 100%;
                margin: auto;
                padding: 0;
                list-style-type: none;
            }
            .listmain li {           /*change according to your's display resolution(if needed)*/
                display: inline-block;
                text-align: center;
                transition: 0.5s;
                padding: 0% 8%;
            }
            .secdiv {                /*change according to your's display resolution(if needed)*/
                position: relative;
                left: 56%;
                padding: 0;
                width: 13%;
                height: 12em;
            }
            #ulhide1 {               /*change according to your's display resolution(if needed)*/
                position: absolute;
                top: 1.2em;
                width: 100%;
                visibility: hidden;
                padding: 0;
                opacity: 0;
                list-style-type: none;
                text-align: center;
                transition: all 0.5s linear;
                /*
                background-color: rgba(24, 0, 103, 0.8);
                box-shadow: 0 0 1em;
                */
            }
            #ulhide1 li {            /*change according to your's display resolution(if needed)*/
                width: 100%;
                padding: 4%;
            }
            #ulhide2 {               /*change according to your's display resolution(if needed)*/
                position: absolute;
                top: 1.2em;
                visibility: hidden;
                width: 100%;
                padding: 0;
                opacity: 0;
                list-style-type: none;
                text-align: center;
                transition: all 0.5s linear;
                /*
                background-color: rgba(24, 0, 103, 0.8);
                box-shadow: 0 0 1em;
                */
            }
            #ulhide2 li {            /*change according to your's display resolution(if needed)*/
                width: 100%;
                padding: 4% 4%;
            }
            #ulhide3 {               /*change according to your's display resolution(if needed)*/
                position: absolute;
                top: 1.2em;
                visibility: hidden;
                width: 100%;
                padding: 0;
                opacity: 0;
                list-style-type: none;
                text-align: center;
                transition: all 0.5s linear;
                /*
                background-color: rgba(24, 0, 103, 0.8);
                box-shadow: 0 0 1em;
                */
            }
            #ulhide3 li {            /*change according to your's display resolution(if needed)*/
                width: 100%;
                padding: 4%;
            }
            a {
                position: relative;
                color: #4AAFFC;
                text-shadow: 0px 0px 5px #4893FA;
                text-decoration: none;
                transition: all 0.2s linear;
                right: 4%;
            }
            li {
                opacity: 0.8;
            }
            a:hover, .listmain li:hover{
                opacity: 1;
                color: #be132d;
                text-shadow: 0px 0px 5px #ff0000;
                transition: all 0.2s linear
            }
            #time {                /*change according to your's display resolution(if needed)*/
                position: absolute;
                left: 68.3%;
                bottom: 2.1em;
                opacity: 0.95;
            }
            .headerSearch {        /*change according to your's display resolution(if needed)*/
                position: absolute;
                bottom: 10.2em;
                left: 36%;
            }
            input {
                background-color: rgba(66, 64, 64, 0);
                border: 0px;
                outline: none;
                width: 100%;
                color: #4AAFFC;
                text-shadow: 0px 0px 1em #4893FA;
                text-align: center;
                font-family: 'VT323', monospace;
            }
            input::-webkit-input-placeholder {
                color: #4AAFFC;
            }
            :-moz-placeholder { /* Firefox 18- */
                opacity: 1 !important;
            }
            ::-moz-placeholder {  /* Firefox 19+ */
                opacity: 1 !important;
            }
            @-moz-document url-prefix() {
                #time {                /*change according to your's display resolution(if needed)*/
                    position: absolute;
                    left: 68.27%;
                    bottom: 2.23em;
                    opacity: 0.95;
                }
            }